<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6PX5X9WE20"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6PX5X9WE20');
</script>

<script async src="https://tally.so/widgets/embed.js"></script>

<script>
window.TallyConfig = {
  "formId": "3EX5Dl",
  "popup": {
    "width": 500,
    "emoji": {
      "text": "💧",
      "animation": "wave"
    },
    "open": {
      "trigger": "exit"
    },
    "layout": "modal"
  }
};
</script>