{% load static %}

var markers = {};

function loadWaterPointsInMap(mode) {
    // Get the settlements from the DOM
    var settlements = document.getElementById('water-points').children;

    // Iterate over each settlement
    for (var i = 0; i < settlements.length; i++) {
        var settlement = settlements[i];

        // Get the settlement's name and coordinates
        var id = settlement.getAttribute('data-id');

        var name = settlement.getAttribute('data-name');
        var coordinates = [settlement.getAttribute('data-coordinates-lng'), settlement.getAttribute('data-coordinates-lat')];
        var dataSource = settlement.getAttribute('data-source');
        var disrupted = settlement.getAttribute('data-disrupted') == 'True';
        var customMarkerElement = document.createElement('div');
        customMarkerElement.className = 'custom-marker';

        var secondSectionSubtitle = "";
        var secondSectionTitle = "Estado actual: ";
        if(mode == "by-source") {
            customMarkerElement.innerHTML = getIconForWaterOrigin(dataSource);
            secondSectionSubtitle = dataSource;
            secondSectionTitle = "Origen: ";
        } else {
            customMarkerElement.innerHTML = getIconForDisruption(disrupted);
            secondSectionSubtitle = disrupted ? "Sin agua" : "Con agua";
        }
        
        var popup = new mapboxgl.Popup({ offset: 25, id: id })
        popup.setHTML('<div class="container mt-4"><ul class="list-group"><li class="list-group-item"><b>Colonia: </b>' + name + '</li><li class="list-group-item"><b>' + secondSectionTitle + '</b>' + secondSectionSubtitle + '</li></ul></div>');

        // Create a new marker for the settlement
        var marker = new mapboxgl.Marker({ element: customMarkerElement })
            .setLngLat(coordinates)
            .setPopup(popup)
            .addTo(map);

        markers[id] = {
            coordinates: coordinates
        };
        
        marker.getElement().id = id;
        marker.getElement().addEventListener('click', function () {
            var center = markers[this.id].coordinates;
            var radius = 500;
            var options = {steps: 100, units: 'meters', properties: {}};
            var circle = turf.circle(center, radius, options);

            var layerId = 'circle-layer-'+this.id;
            map.addSource(layerId, {
                type: 'geojson',
                data: circle
            });
            
            markers[this.id].layerId = layerId;

            map.addLayer({
                'id': layerId,
                'type': 'fill',
                'source': layerId,
                'layout': {},
                'paint': {
                    'fill-color': '#0080ff',
                    'fill-opacity': 0.5
                }
            });
        });

        popup.on('close', function() {
            var layerId = markers[this.options['id']].layerId;
            
            if(map.getLayer(layerId) != null) {
                map.removeLayer(layerId);
                map.removeSource(layerId);
            }
            
        });
    }
}

function getIconForDisruption(disrupted) {
    if (disrupted) {
        return '<img src="{% static 'images/no-water.png' %}" alt="Custom Marker">';
    } else {
        return '<img src="{% static 'images/water.png' %}" alt="Custom Marker">';
    }
}

function getIconForWaterOrigin(source) {
    if (source == "POZOS") {
        return '<img src="{% static 'images/pozos.png' %}" alt="Custom Marker">';
    } else if (source == "CUTZAMALA - POZOS") {
        return '<img src="{% static 'images/cutzamala-pozos.png' %}" alt="Custom Marker">';
    } else if (source == "CUTZAMALA") {
        return '<img src="{% static 'images/cutzamala.png' %}" alt="Custom Marker">';
    } else if (source == "PIPAS") {
        return '<img src="{% static 'images/pipas.png' %}" alt="Custom Marker">';
    } else if (source == "RIOS") {
        return '<img src="{% static 'images/rios.png' %}" alt="Custom Marker">';
    } else if (source == "MANANTIALES") {
        return '<img src="{% static 'images/manantiales.png' %}" alt="Custom Marker">';
    } else if (source == "MANANTIALES - POZOS") {
        return '<img src="{% static 'images/manantiales-pozos.png' %}" alt="Custom Marker">';
    }
}