<!-- templates/yourapp/mapbox_map.html -->
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Aguas con el agua</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet' />

    <!-- Bootstrap CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Mapbox CSS -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet' />

    <style>
        .hidden {
            display: none;
        }
        .custom-marker {
            width: 20px;
            height: 20px;
        }

        .custom-marker img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    </style>
</head>
<body>
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Ciudad Monstruo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Aguas con el agua</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Map container -->
    <div id='map' style='width: 100%; height: calc(100vh - 56px);'></div>

    <!-- Bootstrap JS and Mapbox JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>

    <!-- Initialize the map with your Mapbox access token -->
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoidmlkcmlsb2NvIiwiYSI6Ik1QRzIwZmcifQ.BzdjvFURAZ8uJ6kNovrrDA';

        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-99.133209, 19.432608],
            zoom: 12
        });

        map.on('load', () => {
            loadWaterPointsInMap("location");
        });

        function loadWaterPointsInMap(mode) {
                // Get the settlements from the DOM
            var settlements = document.getElementById('water-points').children;

            // Iterate over each settlement
            for (var i = 0; i < settlements.length; i++) {
                var settlement = settlements[i];

                // Get the settlement's name and coordinates
                var id = settlement.getAttribute('data-id');

                var name = settlement.getAttribute('data-name');
                var coordinates = [settlement.getAttribute('data-coordinates-lng'), settlement.getAttribute('data-coordinates-lat')];
                var dataSource = settlement.getAttribute('data-source');
                var disrupted = settlement.getAttribute('data-disrupted') == 'True';
                var customMarkerElement = document.createElement('div');
                customMarkerElement.className = 'custom-marker';

                if(mode == "location") {
                    customMarkerElement.innerHTML = getIconForWaterOrigin(dataSource);
                } else {
                    customMarkerElement.innerHTML = getIconForDisruption(disrupted);
                }

                // Create a new marker for the settlement
                new mapboxgl.Marker({ element: customMarkerElement })
                    .setLngLat(coordinates)
                    .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                    .setHTML('<h3>' + name + '</h3><p>' +  id + '</p>'))
                    .addTo(map);
            }
        }

        function getIconForDisruption(disrupted) {
            if (disrupted) {
                return '<img src="{% static 'images/no-water.png' %}" alt="Custom Marker">';
            } else {
                return '<img src="{% static 'images/water.png' %}" alt="Custom Marker">';
            }
        }

        function getIconForWaterOrigin(source) {
            if (source == "POZOS") {
                return '<img src="{% static 'images/pozos.png' %}" alt="Custom Marker">';
            } else if (source == "CUTZAMALA - POZOS") {
                return '<img src="{% static 'images/cutzamala-pozos.png' %}" alt="Custom Marker">';
            } else if (source == "CUTZAMALA") {
                return '<img src="{% static 'images/cutzamala.png' %}" alt="Custom Marker">';
            } else if (source == "PIPAS") {
                return '<img src="{% static 'images/pipas.png' %}" alt="Custom Marker">';
            } else if (source == "RIOS") {
                return '<img src="{% static 'images/rios.png' %}" alt="Custom Marker">';
            } else if (source == "MANANTIALES") {
                return '<img src="{% static 'images/manantiales.png' %}" alt="Custom Marker">';
            } else if (source == "MANANTIALES - POZOS") {
                return '<img src="{% static 'images/manantiales-pozos.png' %}" alt="Custom Marker">';
            }
        }
    </script>

    <div id="water-points" class="hidden">
        {% for settlement in settlements %}
            <div data-id="settlement-{{ settlement.id }}" 
                data-name="{{ settlement.settlement }}" 
                data-coordinates-lat="{{ settlement.location.y }}" 
                data-coordinates-lng="{{ settlement.location.x }}"
                data-disrupted="{{ settlement.is_atypical_condition  }}"
                data-source="{{ settlement.supply_zone }}">
                
            </div>
        {% endfor %}
        {{ settlements|safe }}
    </div>

</body>
</html>